/* Text styles */
body {
  font-family: "Times New Roman", sans-serif;
}

h2 {
  color: black;
  font-weight: lighter;
  text-align: left;
  margin-left: 35px;
  display: inline-block;
}

/* div styles */
.container {
  margin-left: 30px;
  margin-top: 10px;
}

.box {
  width: 315px;
  height: 125px;
  border: 1.5px solid lightgrey;
  display: inline-flex;
  margin: 5px;
  box-shadow: 1px 1px 1px #888888;
  border-radius: 5.5px;
}
.box:hover {
  background-color: #F2FBFF;
  cursor: pointer;
}

label {
  display: inline-block;
  margin-left: 175px
}

.boximg {
  float: left;
  margin: auto;
  border-radius: 50%;
}

.modimg {
  display: block;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
  border-radius: 50%;
}

.close {
float: right;
margin-top: 5px;
}

.prev .next {
  display: block;
  text-align: center;
  margin: 0, auto;
}

.employee_data {
  /* display: inline-block;
  text-align: left; */
  margin-top: 31.5px;
  margin-right: auto;
  margin-left: auto;
  display: table-cell;
vertical-align: middle;
}

.modemployee_data {
  text-align: center;
  margin: auto;
}

.username, .email, .cell-num, .address, .dob {
  color: grey;
  margin-top: 2px;
  margin-bottom: 2px;
}

hr {
  width: 75%;
  margin-left: auto;
  margin-right: auto;

}

h3 {
  margin: auto;
  text-transform: capitalize;
}

.email {
  margin: auto;
  color: grey;
}
.city{
  text-transform: capitalize;
  margin: auto;
  color: grey;
}

.prev, .next, .close {

  text-decoration: none;
}

.overlay {
  background-color: lightgrey;
}

.disabled {
  pointer-events: none;
}

.modal_window {
  box-shadow: 1px 1px 1px #888888;
  background-color: white;
  border-radius: 5.5px;
  border: 1.5px solid lightgrey;
  width: 320px;
  height: 385px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
