/* Text styles */
body {
  font-family: "Times New Roman", sans-serif;
}

h2 {
  color: black;
  font-weight: lighter;
  text-align: left;
  margin-left: 35px;
  display: inline-block;
}

/* div styles */
.container {
  margin-left: 30px;
  margin-top: 10px;
}

.box {
  width: 310px;
  height: 125px;
  border: 1.5px solid lightgrey;
  display: inline-flex;
  margin: 5px;
  box-shadow: 1px 1px 1px #888888;
  border-radius: 5.5px;
}
.box:hover {
  background-color: #F2FBFF;
  cursor: pointer;
}

label {
  display: inline-block;
  margin-left: 175px
}

img {
  float: left;
  margin: auto;
  border-radius: 50%;
}

.employee_data {
  display: inline-block;
  text-align: left;
}

h3 {
  margin: auto;
  text-transform: capitalize;
}

.email{
  margin: auto;
  color: grey;
}
.city{
  text-transform: capitalize;
  margin: auto;
  color: grey;
}

.prev, .next, .close {

  text-decoration: none;
}

/* .modal_window {

  display: none;
} */
