/* Text styles */

h3 {
  color: black;
  font-weight: lighter;
  font-family: "Times New Roman";
  text-align: left;
  margin-left: 35px;
  display: inline-block;
}

/* div styles */
.container {
  margin-left: 30px;
  margin-top: 10px;
}

.box {
  width: 300px;
  height: 125px;
  border: 1.5px solid lightgrey;
  display: inline-flex;
  margin: 7.5px;
  box-shadow: 1px 1px 1px #888888;
  border-radius: 5.5px;
}
.box:hover {
  background-color: #F2FBFF;
}

label {
  display: inline-block;
  margin-left: 280px

}
